/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env
.env.local.php
.env.php
.DS_Store
/public/components/
/app/tests/_log/*
/app/tests/_data/*
/app/storage/dumps
/app/tests/acceptance/WebGuy.php
/app/tests/functional/TestGuy.php
/app/tests/unit/CodeGuy.php
app/config/packages/danmichaelo
app/config/packages/aws
/node_modules
/public/css
/public/js
/public/mix-manifest.json
