body {
  font-family: 'Open Sans', sans-serif;
}
.list-group li {
 -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;  
}
.list-group .added {
  background-color: #ffffbb;
}
.list-group .focus {
  background-color: #ffff44;
}

.navbar {
	/*
  background: url(img/45-rex-castor.jpg) right top no-repeat;
  */
}

body > .container {
  padding-bottom:80px;
}


a * {
  color: #428bca;
}

a:hover, a:focus {

}
a:hover *, a:focus * {
  color: #2A6496;
}

.tt-hint {
  border: 1px solid rgba(0,0,0,0);
  padding:6px 12px;
  width: 250px;
  color: rgb(180, 180, 180);
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  width: 400px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.repo-ltid {
  float: right;
  font-style: italic;
}
.repo-name {
  font-weight: bold;
}

.alert {
  margin: 1em 3em;
  border-width:3px;
  box-shadow: 2px 2px 5px #888888;
}
